---
import "../../styles/global.css";
import AdminLog from "../composants/AdminLog.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link
      rel="shortcut icon"
      href="/images/favicon_sbg.png"
      type="image/x-icon"
    />
    <title>Admin | GléHi</title>
  </head>
  <body>
    <AdminLog />
  </body>
</html>
